// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #D3242C !default;
$color-white: #FFFFFF !default;
$color-black: #000000 !default;
$color-text:  #000000 !default;
$color-gray:  #585858 !default;

// Background Colors
$bg-color:        #F5F5F5 !default;
$bg-gray:         #ECECEC !default;
$bg-white:        $color-white !default;
$bg-dark-opacity: rgba($color-black, .1);

// Border
$color-border: #ECECEC !default;
$color-border-dark: #222222 !default;

// Links
$color-link: $color-text !default;

// Cards
$card-bg: $bg-white !default;

// Buttons
$btn-bg:       #313638 !default;
$btn-bg-hover: $color-brand !default;

$btn-color:       $color-white !default;
$btn-color-hover: $color-white !default;

// Code Block
$bg-code-block: $bg-gray !default;

$bg-code-inline:  $bg-gray !default;
$color-code-inline: $color-text !default;