// *----------------------------------*\
//  Settings > Grid
// *----------------------------------*/

$grid-width: 1100px;
$grid-gutter: $base-spacing-unit;
$grid-gutter-large: $base-spacing-unit + half($base-spacing-unit);