// *----------------------------------*\
//  Settings > Type
// *----------------------------------*/

$font-serif:      'Crimson Text', Georgia, serif;
$font-sans-serif: 'Poppins', Helvetica, Arial, sans-serif;
$font-monospace:  Courier, monospace;

$font-size-base:   22px;
$font-size-medium: 16px;
$font-size-small:  14px;
$font-size-tiny:   12px;
$font-size-mini:   11px;

$font-weight-regular: 400;
$font-weight-medium:  600;
$font-weight-bold:    700;

$line-height-base:   1.5;